html {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  background-image: url(images/veg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
  /* margin: 20px; */
}

h1 {
  text-align: center;
  font-size: 3em;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.bod {
  margin: 25px;
}

p {
  font-size: 1.5em;
}

a {
  font-size: 1.5em;
}

.btn {
  margin: 5px;
}

.mainlist img {
  width: 100px;
}

.homelist img {
  width: 100px;
}

.recipelist img {
  width: 150px;
}

.tagDiv {
  margin-top: 50px;
}
