<h1 class="jumbotron">$recipe.getName()</h1>

<p>$recipe.getRating()</p>
<p>$recipe.getIngredients()</p>
<p>$recipe.getInstructions()</p>
<p>$recipe.getDate()</p>

<a href="/recipe/$recipe.getId()/delete">Delete This Recipe</a> 
